@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bemvindo</title>
    <link rel="stylesheet" href="~/css/loginStyle.css">
</head>
<body>


    <div class="body-wrap">
        <img src="~/img/library-with-books.jpg" alt="">
        <div class="info">
            <img src="~/img/logo-ustm.png" alt="">
            <h1>BEM-VINDO</h1>
            <h2>Descubra a USTM Library, sua biblioteca digital.</h2>
            <p>Explore uma ampla gama de recursos acadêmicos, desde livros a revistas especializadas, tudo disponível com apenas alguns cliques. Com a USTM Library, você tem acesso a um mundo de conhecimento sem sair de casa. Aproveite a comodidade e a confiabilidade que nossa biblioteca digital oferece. Estamos aqui para apoiar seus estudos e ajudá-lo a alcançar seus objetivos acadêmicos.</p>
            <p>Bem-vindo à USTM Library - sua porta de entrada para o aprendizado sem limites.</p>
            <a class="Acessarbtn" id="login" asp-area="Identity" asp-page="/Account/Login">Acessar</a>
        </div>

    </div>
       
    

</body>
</html>