@page
@model LoginModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/loginStyle.css">
</head>
<body>
    <main id="container">

        <h1>Login</h1>
        <form id="account" method="post">
            <fieldset>
                <legend>
                    Username
                </legend>
                <input asp-for="Input.UserName" class="input" autocomplete="username" aria-required="true" type="text" placeholder="Digite o seu username">
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </fieldset><br><br>
            <fieldset>
                <legend>
                    Password
                </legend>
                <input asp-for="Input.Password" class="input" autocomplete="current-password" aria-required="true" placeholder="Digite a sua password">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </fieldset>
            <button id="login-submit" type="submit"><span>ENTRAR</span></button>
        </form>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    </main>
</body>
</html>






@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
