<section id="sobre" class="padding">
	<div class="container">
		<img src="img/bookshelf-about.jpg" class="right" width="500">

		<h1>Sobre Nós</h1>
		<p>A Biblioteca Online foi criada com a intenção de proporcionar agilidade e facilidade na reseva e leitura de livros pela internet.</p>
		<p>.</p>



		<a href="index.html" class="button">QUERO Reservar LIVROS!</a>

		<hr>

		<ul class="devs">
			<li>
				<h1>Desenvolvedores</h1>
				<h3>Enoque Tembe</h3>
				<img src="https://github.com/enoquetembe.png" title="Enoque" width="150">
				<h4>Contato:</h4>
				<ul>
					<li><a href="https://github.com/enoquetembe">Github</a></li> |
				</ul>
			</li>

			<li>
				<h3>Luzidio Rafael </h3>
				<img src="https://github.com/Luzidio.png" title="Lz" width="150">
				<h4>Contato:</h4>
				<ul>
					<li><a href="https://github.com/Luzidio">Github</a></li> |
				</ul>
			</li>

			<li>
				<h3>Adil Jamal </h3>
				<img src="https://github.com/adiljamal754.png" title="Adil" width="150">
				<h4>Contato:</h4>
				<ul>
					<li><a href="https://github.com/adiljamal754">Github</a></li> |
				</ul>
			</li>

			<li>
				<h3>Rodrigues Fundo </h3>
				<img src="https://github.com/RodriguesFundo.png" title="Rodrigues" width="150">
				<h4>Contato:</h4>
				<ul>
					<li><a href="https://github.com/RodriguesFundo">Github</a></li> |
				</ul>
			</li>

			<li>
				<h3>Shelcia Miguel </h3>
				<img src="https://github.com/Shemii01.png" title="Shelcia" width="150">
				<h4>Contato:</h4>
				<ul>
					<li><a href="https://github.com/Shemii01">Github</a></li> |
				</ul>
			</li>

			<li>
				<h3>Francisco Maculive </h3>
				<img src="" title="Francisco" width="150">
				<h4>Contato:</h4>
				<ul>
					<li><a href="">Github</a></li> |
				</ul>
			</li>
		</ul>
	</div>
</section>